<div class = "text-center padded">
  <h1>Welcome to your Article manager </h1>
  <%= link_to "View all Articles", articles_path, class: "btn btn-primary"  %>
  <%= link_to "Post a new article", new_article_path, class: "btn btn-primary" %>
</div>
