<div class = "text-center padded">
  <h1>Here is a list of the Articles</h1>
  <ul>
    <% @articles.each do |article|%>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <% end %>
  </ul>
</div>
