<div class= "wrapper-grey text-center">
  <div class = "container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
      <h1> Create an article </h1>
      <%= render "form" %>
      </div>
    </div>
  </div>
</div>
